.navbar {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}

.container-fluid {
    background-color: rgba(17, 17, 17, 0.9);
    border-radius: 20px;
    height: 80%;
    margin: 3% 10% 3% 10%;
    padding: 2%;
    width: 80%;
}

.container-fluid .row .col-3 {
    margin-top: 2%;
}

.main {
    margin-top: 3%;
}

.main-top-left {
    padding-left: 50%;
}

.main-top-left-achievements {
    max-width: 50%;
}

.main-low-right-homepage {
    max-width: 50%;
    margin-top: 2%;
    margin-left: 50%;
}

.main-low-right-achievements {
    margin-top: 2%;
    margin-left: 50%;
    max-width: 50%;
}

.image-round {
    border-radius: 50%;
}

.table-slide-left {
    padding-right: 3%;
}

.vertical-line {
    border-left: 1px solid #ffffff;
    height: 95%;
    left: 0;
    position: absolute;
    top: 1%;
}

.geser {
    margin-left: 7%;
}

body {
    background-attachment: fixed;
    background-color: black;
    background-image: url('/static/s3/images/black.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 85% 100%;
    color: #ffffff;
    font-family: 'Esteban', serif;
}

a:link {
    color:#ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:#ffffff;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}  

.challenge3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
    margin-left: 50%;
    max-width: 50%;
}

td {
    color: #ffffff;
}

th {
    color: #ffffff;
}