<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Story 1 by Syabib Ash-Shiddiqi</title>
        <link href="{% static 's1/css/style.css' %}" type="text/css" rel="stylesheet">
    </head>

    <body>
        <h1 class="navigation-bar">My Profile</h1>
        <div class="head">
            <center><img src="{% static 's1/images/picture.jpg' %}" alt="Foto Syabib di Jembatan Teksas" width="300" height="300" class="image-round">
            <h2 class="h2-slide-down">Halo semua!</h2>
            <p class="opening">
                Perkenalkan, nama saya Syabib. Saya adalah seorang mahasiswa ilmu komputer tahun pertama yang
                sangat ambisius, bersemangat, optimistis, dan memiliki memiliki keinginan yang besar untuk
                terus belajar dan berkembang dalam segala hal.<br>Ayo berkenalan dengan saya!
            </p>
            </center>
        </div>
        <div class="row">
            <div class="data">
                <h2>My Data</h2>
                <table>
                    <tr>
                        <td>Nama</td>
                        <td>:</td>
                        <td>Syabib Ash-Shiddiqi</td>
                    </tr>
                    <tr>
                        <td>NPM</td>
                        <td>:</td>
                        <td>1906350686</td>
                    </tr>
                    <tr>
                        <td>Angkatan</td>
                        <td>:</td>
                        <td>Maung 2019</td>
                    </tr>
                    <tr>
                        <td>Tempat Kuliah</td>
                        <td>:</td>
                        <td>Ilmu Komputer - Fasilkom UI</td>
                    </tr>
                    <tr class="table-slide-up">
                        <td>Riwayat Pendidikan</td>
                        <td>:</td>
                        <td>
                            <table>
                                <tr>
                                    <td>SDIT Adzkia</td>
                                    <td class="table-slide-more">2007 - 2013</td>
                                </tr>
                                <tr>
                                    <td>SMPN 8 Padang</td>
                                    <td class="table-slide-more">2013 - 2016</td>
                                </tr>                            <tr>
                                    <td>SMAN 1 Padang</td>
                                    <td class="table-slide-more">2016 - 2019</td>
                                </tr>
                                <tr>
                                    <td>Universitas Indonesia</td>
                                    <td class="table-slide-more">2019 - sekarang</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Hobi</td>
                        <td>:</td>
                        <td>Bermain game dan menonton bola
                    </tr>
                </table>
            </div>
            <div class="contact">
                <h2>Contact me at</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="{% static 's1/images/gmail logo.png' %}" alt="gmail" height="27">
                            </td>
                            <td class="table-slide-left">syabib.ashshiddiqi@gmail.com</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://www.linkedin.com/in/syabib-ash-shiddiqi-b4b031194/">
                                <img src="{% static 's1/images/gmail logo.png' %}" alt="linkedin" height="35" width="35">
                            </td>
                            <td class="table-slide-left">Syabib Ash-Shiddiqi</td class="table-slide-left">
                        </tr>
                        <tr>
                            <td>
                                <img src="{% static 's1/images/line logo.png' %}" alt="line" height="35" width="35">
                            </td>
                            <td class="table-slide-left">syabib_as_fone2</td class="table-slide-left">
                        </tr>
                        <tr>
                            <td>
                                <a href="https://www.instagram.com/syabib.a/">
                                <img src="{% static 's1/images/instagram logo.png' %}" alt="instagram" width="35" height="35">
                            </td>
                            <td class="table-slide-left">@syabib.a</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://twitter.com/sasfort_">
                                <img src="{% static 's1/images/twitter logo.png' %}" alt="twitter" height="35" width="35">                            </td>
                            <td class="table-slide-left">@sasfort_</td class="table-slide-left">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <center>
                by Syabib Ash-Shiddiqi, 2020
            </center>
        </div>
    </body>
</html>