.navigation-bar {
    background-color: #ff2e63;
    color: #eaeaea;
    margin: 0;
    padding: 1% 50px;
    position: sticky;
    top: 0;
}

.head {
    background-color: #eaeaea;
    border-radius: 20px;
    padding: 25px 20px 20px 20px;
    margin: 40px auto 0px auto;
    width: 80%;
}

.data {
    background-color: #eaeaea;
    border-radius: 20px;
    padding: 0 20px 20px 20px;
    margin: 40px 0px 30px 8.5%;
    width: 48%;
}

.contact {
    background-color: #eaeaea;
    border-radius: 20px;
    margin: 40px auto auto 40px;
    padding: 0 20px 20px 20px;
    vertical-align: middle;
    width: 25%;
}

.footer {
    color: #eaeaea;
    margin: 0 0 30px 0;
}

.h2-slide-down {
    margin: 10px;
}

.image-round {
    border-radius: 50%;
}

.opening {
    max-width: 70%;
}

.row {
    display: flex;
}

.table-slide-left {
    padding-left: 15px;
}

.table-slide-more {
    padding-left: 30px;
}

.table-slide-up {
    vertical-align: top;
}

body {
    margin: 0;
    background-color: #252a34;
    font-family: Arial Rounded MT;
    color: #252a34;
}

h2 {
    color: #08d9d6;
}

img {
    margin: 0;
}

ul {
    margin: 0;
}