<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 's3:homepage' %}">Homepage</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 's3:achievements' %}">Achievements</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 's3:experience' %}">Experience</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 's3:contacts' %}">Contacts</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 's3:challenge' %}">Challenge 3</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 's1:story1' %}">Story 1</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 's3:time' %}">Time</a>
      </li>
    </ul>
  </div>
</nav>