{% extends "s3/base.html" %}
{% load static %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"><center>
            <table>
                <tr>
                    <img src="{% static 's3/images/picture.jpg' %}" alt="Foto Syabib di Jembatan Teksas" width="100%" height="100%" class="image-round">
                </tr>
                <tr>
                    <h4>Syabib Ash-Shiddiqi<br>18 tahun</h4>
                </tr>
            </table>
            </center></div>
            <div class="col-9">
                    <div class="main">
                    <div class="vertical-line"></div>
                    <h3>Prestasi</h3>
                    <div class="main-top-left-achievements">
                        <ol>
                            <li>Finalis Olimpidae Sains Nasional bidang Komputer 2018</li>
                            <li>Juara 1 ISCE Universitas Andalas tahun 2018</li>
                            <li>Juara 1 TENSAI bidang Komputer tahun 2018</li>
                            <li>Juara 1 Luminosity bidang Komputer tahun 2018</li>
                            <li>Harapan 2 SMAPSiC bidang Komputer tahun 2018</li>
                        </ol>
                    </div>
                    <div class="main-low-right-achievements">
                        <ol start="6">
                            <li>Semi-finalis National Logic Competition ITS tahun 2017</li>
                            <li>Finalis Olimpiade Sains Provinsi</li>
                            <li>Juara 3 SMAPSiC bidang Komputer tahun 2017</li>
                            <li>Harapan 1 TENSAI bidang Komputer tahun 2017</li>
                            <li>Juara 1 Lomba Band antar SMP se-Kota Padang tahun 2015</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}