{% extends "s3/base.html" %}
{% load static %}
{% block body %}
<div class="container">
  <h2 class="turun-dikit">Galeri</h2>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Buka Galeri</button>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Galeri</h4>
          </div>
          <div class="modal-body">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{% static 's3/images/front.jpg' %}" alt="Los Angeles" style="width:100%;">
                  <div class="carousel-caption">
                    <h3>Salam Angkatan Terakhir</h3>
                    <p>Momen Kekerabatan</p>
                  </div>
                </div>
                <div class="item">
                  <img src="{% static 's3/images/mk.jpg' %}" alt="Chicago" style="width:100%;">
                  <div class="carousel-caption">
                    <h3>Terima Kasih, Maung!</h3>
                    <p>Cilodong, 24 November 2019</p>
                  </div>
                </div>
                <div class="item">
                  <img src="{% static 's3/images/cina.jpg' %}" alt="New York" style="width:100%;">
                  <div class="carousel-caption">
                    <h3>Cina</h3>
                    <p>Otw menguasai dunia</p>
                  </div>
                </div>
                <div class="item">
                  <img src="{% static 's3/images/kudeta.jpg' %}" alt="New York" style="width:100%;">
                  <div class="carousel-caption">
                    <h3>Kudeta</h3>
                    <p>Kuliah Demot Tapi Cum Laude</p>
                  </div>
                </div>
                <div class="item">
                  <img src="{% static 's3/images/meem.jpg' %}" alt="New York" style="width:100%;">
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
          </div>
      </div>
      
    </div>
  </div>
  
</div>
{% endblock %}
