{% extends "s3/base.html" %}
{% load static %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"><center>
            <table>
                <tr>
                    <img src="{% static 's3/images/picture.jpg' %}" alt="Foto Syabib di Jembatan Teksas" width="100%" height="100%" class="image-round">
                </tr>
                <tr>
                    <h4>Syabib Ash-Shiddiqi<br>18 tahun</h4>
                </tr>
            </table>
            </center></div>
            <div class="col-9">
                    <div class="main">
                    <div class="vertical-line"></div>
                    <div class="main-top-left-achievements">
                        <h4>Contact me at:</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="{% static 's3/images/gmail logo.png' %}" alt="gmail" height="27">
                                    </td>
                                    <td class="table-slide-left">syabib.ashshiddiqi@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://www.linkedin.com/in/syabib-ash-shiddiqi-b4b031194/">
                                        <img src="{% static 's3/images/linkedin logo.png' %}" alt="linkedin" height="35" width="35">
                                    </td>
                                    <td class="table-slide-left">Syabib Ash-Shiddiqi</td class="table-slide-left">
                                </tr>
                                <tr>
                                    <td>
                                        <img src="{% static 's3/images/line logo.png' %}" alt="line" height="35" width="35">
                                    </td>
                                    <td class="table-slide-left">syabib_as_fone2</td class="table-slide-left">
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://www.instagram.com/syabib.a/">
                                        <img src="{% static 's3/images/instagram logo.png' %}" alt="instagram" width="35" height="35">
                                    </td>
                                    <td class="table-slide-left">@syabib.a</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://twitter.com/sasfort_">
                                        <img src="{% static 's3/images/twitter logo.png' %}" alt="twitter" height="35" width="35">                            </td>
                                    <td class="table-slide-left">@sasfort_</td class="table-slide-left">
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="challenge3">
                        <a href="{% url 's3:challenge' %}">
                       <b>PRESS FOR CHALLENGE 3</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}