{% extends "s3/base.html" %}
{% load static %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"><center>
            <table>
                <tr>
                    <img src="{% static 's3/images/picture.jpg' %}" alt="Foto Syabib di Jembatan Teksas" width="100%" height="100%" class="image-round">
                </tr>
                <tr>
                    <h4>Syabib Ash-Shiddiqi<br>18 tahun</h4>
                </tr>
            </table>
            </center></div>
            <div class="col-9">
                    <div class="main">
                    <div class="vertical-line"></div>
                    <div class="main-top-left-achievements">
                        <h4>Organisasi</h4>
                        <table>
                            <tr>
                                <td>1. Taring Maung</td>
                                <td>2019 - sekarang</td>
                            </tr>
                            <tr>
                                <td>2. Akademis Maung</td>
                                <td>2019 - sekarang</td>
                            </tr>
                            <tr>
                                <td>3. Humas Maung</td>
                                <td>2019 - sekarang</td>
                            </tr>
                            <tr>
                                <td>4. DPH Rohis SMAN 1 Padang</td>
                                <td>2017 - 2019</td>
                            </tr>
                        </table>
                    </div>
                    <div class="main-low-right-achievements">
                        <h4 class="geser">Kepanitiaan</h4>
                        <ol>
                            <li>1. Staff Field Coordinator PERAK 2020</li>
                            <li>2. Koordinator Mentor Social Project Maung #2</li>
                            <li>3. Koordinator Tempat Wisuda Tahfizh 5 SMAN 1 Padang</li>
                            <li>4. Staff Perlengkapan SMAPSiC XIII + Jr IX</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}