{% extends "s3/base.html" %}
{% load static %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"><center>
            <table>
                <tr>
                    <img src="{% static 's3/images/picture.jpg' %}" alt="Foto Syabib di Jembatan Teksas" width="100%" height="100%" class="image-round">
                </tr>
                <tr>
                    <h4>Syabib Ash-Shiddiqi<br>18 tahun</h4>
                </tr>
            </table>
            </center></div>
            <div class="col-9">
                <div class="main">
                <div class="vertical-line"></div>
                <h3>Profil</h3>
                <table>
                    <tbody>
                        <tr>
                            <th>Nama</th>
                            <td>:</td>
                            <td>Syabib Ash-Shiddiqi</td>
                        </tr>
                        <tr>
                            <th>NPM</th>
                            <td>:</td>
                            <td>1906350686</td>
                        </tr>
                        <tr>
                            <th>Angkatan</th>
                            <td>:</td>
                            <td>Maung 2019</td>
                        </tr>
                        <tr>
                            <th>Hobi</th>
                            <td>:</td>
                            <td>Bermain video game dan menonton bola</td>
                        </tr>
                        <tr>
                            <th>Tempat Kuliah</th>
                            <td>:</td>
                            <td>Ilmu Komputer UI</td>
                        </tr>
                        <tr>
                            <th valign="top">Riwayat Pendidikan</th>
                            <td valign="top">:</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>SDIT Adzkia</td>
                                        <td>2007 - 2013</td>
                                    </tr>
                                    <tr>
                                        <td>SMPN 8 Padang</td>
                                        <td>2013 - 2016</td>
                                    </tr>
                                    <tr>
                                        <td>SMAN 1 Padang</td>
                                        <td>2016 - 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Universitas Indonesia</td>
                                        <td>2019 - sekarang</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="main-low-right-homepage">
                    <p>Seorang mahasiswa ilmu komputer tahun pertama yang sangat bersemangat, ambisius, optimistis, 
                        dan memiliki keinginan yang sangat besar untuk terus belajar dan berkembang di segala hal.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}